glfw==2.10.0
jupyter==1.1.1
jupyter-lsp==2.3.0
jupyter-ydoc==3.4.0
jupyterlab==4.5.6
jupyterlab-mathjax3==4.3.0
jupytext==1.19.1
mathjax==0.1.2
matplotlib==3.10.8
numpy==2.4.3
ruff==0.15.7
sympy==1.14.0
